#funnystuff{
    background-color: antiquewhite;

}

.boxy{
    display:flex;
    justify-content: center;
    align-content: center;
     align-items: center;
   
}

.some{
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    background-color: azure;
    height: 500px;
    width: 600px;
    align-content: center;
    align-items: center;
    justify-content: center;



}